/*
The fixed navbar will overlay your other content, 
unless you add padding to the top of the <body>.  

See https://getbootstrap.com/docs/3.3/components/#navbar-fixed-top
*/
/*body { padding-top: 70px; }*/


html, body {
  width: 100%;
  height: 100%;
}
body {
  /*background-color: hsl(189, 47%, 6%);*/
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  overflow: hidden;
}
.navbar {
  /*background-color: #e8e8e8;*/
  margin-bottom: 0;
  border-radius: 0;
  z-index:1001;
}
.brand-link, .navbar-text, .dropdown-toggle {
  cursor: pointer;
}
.libraryHeader {
  margin-left: 5px;
}
#editorContainer {
  padding: 0;
}
#modelPalette {
  position: fixed; 
  left: 15px; 
  top: 50px;
  background-color: #f8f8f8;
  border: dashed black 1px;
  border-radius: 0 0 10px 10px;
  padding: 4px;
}
#buttonBar {
  background-color: #f8f8f8;
  border: dashed black 1px;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  position: fixed; 
  right: 15vw; 
  top: 50px;
}
#editSidebarContents {
  overflow-y: auto;
}
#editSidebar {
  background-color: #f8f8f8;
  border-radius: 10px 0 0 10px;
  border: dashed black 1px;
  padding: 5px;
  max-height: 70vh;
  position: fixed;
  right: 0;
  top: 20%;
}
.app-svg {
  position: fixed !important;
  background-color: transparent;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
}
#testing {
  position: fixed;
  top: 0;
  left: 0;
}

#loading {
  position: fixed;
  top: 70px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#iconField {
  font-family: 'FontAwesome', 'Roboto';
}

#iconField > option {
  font-family: 'FontAwesome', 'Roboto';
}

.draggable {
  font: bold 20px sans-serif;
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
  /*cursor: move;*/
  cursor: disabled;
  margin-top: 20px;
}

.fa-question-circle {
  cursor: help;
}

.palettezone {
  height: 100vh;
  background: lightblue;
  padding: 40px;
  padding-top: 1px;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.palette-area {
  white-space: nowrap;
  width: 100%;
  display: block;
}


.no-whitespace {
  margin: 0;
  padding: 0;
}


.legend-fix { 
   border: none;
   width: auto !important;
}

slider {
    margin-top: 0;
    margin-bottom: 0;
}

.border-cis {
  border: 3px solid #ccc !important;
  border-radius: 16px !important;
  margin: 15px 0 15px 0;
  padding: 10px;
  width:auto !important;
  height:100% !important;
  border-bottom:none;
}

@font-face {
  /* we want the svg version */
  font-family: 'FontAwesomeSVG';
  src: url('../node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button {
  margin: 10px;
}

.validation-text {
  text-align: center;
}
