/*
The fixed navbar will overlay your other content, 
unless you add padding to the top of the <body>.  

See https://getbootstrap.com/docs/3.3/components/#navbar-fixed-top
*/
/*body { padding-top: 70px; }*/


html, body {
  width: 100%;
  height: 100%;
}
body {
  /*overflow: hidden;*/
}
#editor {
  background-color: hsl(189, 47%, 6%);
  position: absolute;
  font-family: "SourceCodePro",Helvetica,Arial,sans-serif;
  top: 0;
  left: 0;
}
#testing {
  position: absolute;
  top: 0;
  left: 0;
}

.draggable {
  font: bold 20px sans-serif;
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
  /*cursor: move;*/
  cursor: disabled;
  margin-top: 20px;
}

.fa-question-circle {
  cursor: help;
}

.palettezone {
  height: 100vh;
  background: lightblue;
  padding: 40px;
  padding-top: 1px;
  float: left;
  display: inline-block;
  vertical-align: top;
}

.palette-area {
  white-space: nowrap;
  width: 100%;
  display: block;
}

#showBtn {
  position: absolute;
  bottom:0;
  left:0;
  margin-left: 110px;
  padding-left: 20px;
  padding-right: 20px;
  
}

#canvas-area {
  vertical-align: top;
}

#model-area {
  z-index: 1001;
}

.no-whitespace {
  margin: 0;
  padding: 0;
}


.legend-fix { 
   border: none;
   width: auto !important;
}

slider {
    margin-top: 0;
    margin-bottom: 0;
}

.border-cis {
  border: 3px solid #ccc !important;
  border-radius: 16px !important;
  margin: 15px 0 15px 0;
  padding: 10px;
  width:auto !important;
  height:100% !important;
  border-bottom:none;
}

@font-face {
  /* we want the svg version */
  font-family: 'FontAwesomeSVG';
  src: url('../node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button {
  margin: 10px;
}