<!-- The "Login" View -->
<section>
  <div class="container">
    <div class="row" style="margin-top:100px;">
      <div class="col-sm-4 col-sm-offset-4">
        <button class="btn btn-primary" ng-click="signInWithGithub()">
          <i class="fa fa-fw fa-2x fa-github"></i> <span style="font-size:20px;">Sign In with GitHub</span>
        </button>
        <!--<button class="btn btn-default" ng-click="signInWithGirder()">
          <i class="fa fa-fw fa-2x fa-user"></i> <span style="font-size:20px;">Sign In with Girder</span>
        </button>
        <button class="btn btn-default" ng-click="signUpWithGirder()">
          <i class="fa fa-fw fa-2x fa-user-plus"></i> <span style="font-size:20px;">Register with Girder</span>
        </button>-->
      </div>
    </div>
  </div>
</section>