<section>
  <the-graph-editor id="editor" class="the-graph-dark" graph="graph" library="library" 
      loading="loading" width="width" height="height"></the-graph-editor>
       
  <!-- Model Palette -->
  <div id="modelPalette">
    <div class="paletteHeader">
      <h4 class="pull-left libraryHeader">Model Library</h4>
      <button class="btn btn-xs btn-default pull-right" ng-click="showPalette = !showPalette">
        <i class="fa fa-fw fa-toggle-up" ng-if="showPalette"></i>
        <i class="fa fa-fw fa-search" ng-if="!showPalette"></i>
      </button>
    </div>
    
    <table class="table table-condensed" ng-if="showPalette">
      <tr>
        <th width="10%" style="text-align:center;" >Icon</th>
        <th>Model</th>
        <th width="10%" style="text-align:center;" ng-if="user && user._id">Delete</th>
        <th width="10%" style="text-align:center;" ng-if="DEBUG">Info</th>
        <th width="10%" style="text-align:center;">Add</th>
      </tr>
      <tr ng-repeat="(name, spec) in getModelOptions(library) track by name">
        <th style="text-align:center;" ><i class="fa fa-fw fa-{{ spec.icon }}"></i></th>
        <td>{{ spec.description }} ({{ spec.label || spec.name }})</td>
        <td style="text-align:center;" ng-if="user && user._id">
          <button class="btn btn-xs btn-danger" style="margin:0;" ng-click="deleteSpec(spec)" ng-if="spec.creatorId === user._id">
            <i class="fa fa-fw fa-trash"></i> 
          </button>
        </td>
        <td style="text-align:center;" ng-if="DEBUG">
          <button class="btn btn-xs btn-default" style="margin:0;" ng-click="showResults({ results: spec, title: 'View Raw Model', isJson: true })">
            <i class="fa fa-fw fa-code"></i> 
          </button>
        </td>
        <td style="text-align:center;">
          <button class="btn btn-xs btn-primary" style="margin:0;" ng-disabled="selectedItem || graphHasModel(spec.name)" tooltip-placement="left" ng-click="addNodeInstance(spec);togglePalette()"
              tooltip-append-to-body="true" uib-tooltip="{{ graphHasModel(spec.name) ? spec.label + ' has been added' : 'Add ' + spec.description + ' to the canvas' }}">
            <i class="fa fa-fw fa-plus"></i> 
          </button>
        </td>
      </tr>
    </table>
    
    <div class="paletteHeader" ng-if="showPalette">
      <h4 class="pull-left libraryHeader">Graph Ports</h4>
    </div>
    
    <table class="table table-condensed" ng-if="showPalette">
      <tr>
        <th width="10%" style="text-align:center;" >Icon</th>
        <th>Model</th>
        <th width="10%" style="text-align:center;" ng-if="DEBUG">Info</th>
        <th width="10%" style="text-align:center;">Add</th>
      </tr>
      <tr ng-repeat="(name, spec) in [inport, outport] track by name">
        <th style="text-align:center;" ><i class="fa fa-fw fa-{{ spec.icon }}"></i></th>
        <td>{{ spec.description }} ({{ spec.label || spec.name }})</td>
        <td style="text-align:center;" ng-if="DEBUG">
          <button class="btn btn-xs btn-default" style="margin:0;" ng-click="showResults({ results: spec, title: 'View Raw Model', isJson: true })">
            <i class="fa fa-fw fa-code"></i> 
          </button>
        </td>
        <td style="text-align:center;">
          <button class="btn btn-xs btn-primary" style="margin:0;" ng-disabled="selectedItem" tooltip-placement="left" ng-click="spec.name === 'inport' ? addInport() : addOutport();togglePalette()"
              tooltip-append-to-body="true" uib-tooltip="Add a {{ spec.label }} to the canvas">
            <i class="fa fa-fw fa-plus"></i> 
          </button>
        </td>
      </tr>
    </table>
  </div>
  
  <!-- Graph Button Bar -->
  <div id="buttonBar">
    <!-- Graph Operations -->
    <div class="pull-left">
      <button class="btn btn-xs btn-success" ng-click="saveGraphToDB()" ng-if="user && user._id" tooltip-placement="right" ng-disabled="selectedItem" tooltip-append-to-body="true" uib-tooltip="Save current graph to the database">
        <i class="fa fa-fw fa-cloud-upload" ng-class="{ 'faa-horizontal animated': graphIsChanged() }"></i> Save
      </button>
      
      <button class="dropdown-toggle btn btn-xs btn-info" data-toggle="dropdown" role="button" ng-disabled="!savedGraphs || !savedGraphs.length" aria-haspopup="true" aria-expanded="false" tooltip-placement="right" ng-disabled="selectedItem" tooltip-append-to-body="true" uib-tooltip="Load current graph from the database">
        <i class="fa fa-fw fa-cloud-download"></i> Load <i class="fa fa-fw fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="graph in savedGraphs">
          <a class="pull-left" href="#/" ng-click="loadGraphFromDB(graph.name);togglePalette(false);">{{ graph.name }}</a>
          <button class="btn btn-xs btn-danger pull-right" ng-click="deleteGraph(graph)" ng-if="!graph.public && graph.creatorId === user._id">
            <i class="fa fa-fw fa-trash"></i>
          </button>
        </li>
      </ul>
      
      <button class="btn btn-xs btn-danger" ng-click="clearGraph()" tooltip-placement="right" ng-disabled="selectedItem" tooltip-append-to-body="true" uib-tooltip="Clear current graph from the canvas">
        <i class="fa fa-fw fa-trash"></i> Clear
      </button>
      
      <!--<button class="btn btn-xs btn-default" style="color:orange" ng-click="addInport()" ng-disabled="selectedItem" tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Add an InPort to current graph">
        <i class="fa fa-fw fa-sign-in"></i> Add InPort
      </button>
      
      <button class="btn btn-xs btn-default" style="color:green" ng-click="addOutport()" ng-disabled="selectedItem" tooltip-placement="right" tooltip-append-to-body="true" uib-tooltip="Add an OutPort to current graph">
        <i class="fa fa-fw fa-sign-out"></i> Add OutPort
      </button>-->
    </div>
    
    <!-- Outputs -->
    <div class="pull-right">
      <button type="button" ng-if="DEBUG" class="btn btn-xs btn-default" ng-click="exportGraph()" tooltip-placement="left" uib-tooltip="View Raw JSON of the current graph">
        <i class="fa fa-fw fa-code"></i> View Raw
      </button>
      
      <button type="submit" class="btn btn-xs btn-primary" ng-disabled="formatting || selectedItem" ng-click="formatYaml()" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="Output a manifest file for submitting a graph to cis_interface">
        <i class="fa fa-fw" ng-class="{ 'fa-file-text-o': !formatting, 'fa-spinner fa-pulse': formatting }"></i> Generate Manifest
      </button>
      
      <button type="button" ng-if="false" class="btn btn-xs btn-primary" ng-disabled="running" ng-click="runGraph()" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="Submit this graph to cis_interface and display the output">
        <i class="fa fa-fw" ng-class="{ 'fa-play': !running, 'fa-spinner fa-pulse': running }"></i> Run Graph
      </button>
    </div>
  </div>
  
  <div id="editSidebar" ng-if="selectedItem" style="overflow-y:scroll">
    <h4>{{ selectedItem.metadata.label || selectedItem.id }} Properties</h4>
    <form role="form" name="editForm" ng-submit="saveEdit()">
      <div id="editSidebarContents">
        <!-- ID Field (Nodes only) -->
        <div class="form-group" ng-if="DEBUG && selectedItem.component">
            <label for="idField">ID <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="The unique random id of this node"></i></sup></label>
            <input type="text" class="form-control" id="idField" name="idField" ng-model="selectedItem.id" ng-disabled="'true'" required />
        </div>
        
        
        <!-- Component Field (Nodes only) -->
        <!-- FIXME: this should probably use <select> instead of <input>, 
          although it is currently disabled -->
        <div class="form-group" ng-if="DEBUG && selectedItem.component">
          <label for="componentField">Model <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="The underlying model that this node represents"></i></sup></label>
          <input type="text" class="form-control" id="componentField" name="componentField" ng-model="selectedItem.component" ng-disabled="'true'" required />
          
          <ng-messages class="text-danger" for="editForm.componentField.$error" role="alert">
            <ng-message when="required">Model field is required</ng-message>
          </ng-messages>
        </div>
        
        <!-- Label Field (Always shown) -->
        <div class="form-group">
          <label for="labelField">Label <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="A friendly label for this item"></i></sup></label>
          <input type="text" class="form-control" id="labelField" name="labelField" ng-model="selectedItem.metadata.label" />
        </div>
          
        <!-- Show additional fields for Edges only -->
        <div ng-if="!selectedItem.component">
          
          <!-- 'Field Names' Field -->
          <div class="form-group">
            <label for="fieldNamesField">Field Names (optional) <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="If multiple fields are included, what are their names?"></i></sup></label>
            <input type="text" class="form-control" id="fieldNamesField" name="fieldNamesField" ng-model="selectedItem.metadata.field_names" />
          </div>
          
          <!-- 'Field Units' Field -->
          <div class="form-group">
            <label for="fieldUnitsField">Field Units (optional) <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="If multiple fields are included, what are their units?"></i></sup></label>
            <input type="text" class="form-control" id="fieldUnitsField" name="fieldUnitsField" ng-model="selectedItem.metadata.field_units" />
          </div>
        </div>
        
        <!-- Show additional fields for InPorts / OutPorts only -->
        <div ng-if="selectedItem.component === 'inport' || selectedItem.component === 'outport'">
          <!-- Type Field -->
          <div class="form-group">
            <label for="typeField">Type <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="The source/destination type for this value"></i></sup></label>
            <select type="text" class="form-control" id="typeField" name="typeField" ng-model="selectedItem.metadata.type" required>
                <option>File</option>
                <option>Queue</option>
            </select>
            
            <ng-messages class="text-danger" for="editForm.typeField.$error" role="alert">
              <ng-message when="required">{{ selectedItem.component === 'outport' ? 'Output' : 'Input' }} Type is required</ng-message>
            </ng-messages>
          </div>
          
          <!-- Value Field -->
          <div class="form-group">
            <label for="nameField">Value <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="The source/destination name of this input/output"></i></sup></label>
            <input type="text" class="form-control" id="nameField" name="nameField" ng-model="selectedItem.metadata.name" required />
            
            <ng-messages class="text-danger" for="editForm.nameField.$error" role="alert">
              <ng-message when="required">{{ selectedItem.component === 'inport' ?  'Input' : 'Output' }} {{ selectedItem.metadata.type === 'File' ? 'path' : 'name' }} is required</ng-message>
            </ng-messages>
          </div>
          
          <!-- Read Method Field -->
          <div class="form-group" ng-if="selectedItem.component === 'inport'">
            <label for="readMethField">Read Method (optional) <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="How should this input be parsed?"></i></sup></label>
            <select type="text" class="form-control" id="readMethField" name="readMethField" ng-model="selectedItem.metadata.read_meth">
                <option>table</option>
                <option>table_array</option>
                <option>pandas</option>
                <option>line</option>
            </select>
          </div>
          
          <!-- Write Method Field -->
          <div class="form-group" ng-if="selectedItem.component === 'outport'">
            <label for="writeMethField">Write Method (optional) <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" tooltip-append-to-body="true" uib-tooltip="How should we format this output value?"></i></sup></label>
            <select type="text" class="form-control" id="writeMethField" name="writeMethField" ng-model="selectedItem.metadata.write_meth">
                <option>table</option>
                <option>table_array</option>
                <option>pandas</option>
                <option>line</option>
            </select>
          </div>
        </div>
        
        <!-- Metadata Field: X (Nodes only) -->
        <div ng-if="selectedItem.component">
          <div class="form-group" ng-if="DEBUG">
            <label for="xField">X Position <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The horizontal position of this node on the canvas"></i></sup></label>
            <input type="number" class="form-control" id="xField" name="xField" ng-model="selectedItem.metadata.x" required />
            <ng-messages class="text-danger" for="editForm.xField.$error" role="alert">
              <ng-message when="required">X field is required</ng-message>
            </ng-messages>
          </div>
          
          <!-- Metadata Field: Y (Nodes only) -->
          <div class="form-group" ng-if="DEBUG">
            <label for="yField">Y Position <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The vertical position of this node on the canvas"></i></sup></label>
            <input type="number" class="form-control" id="yField" name="yField" ng-model="selectedItem.metadata.y" required />
            <ng-messages class="text-danger" for="editForm.yField.$error" role="alert">
              <ng-message when="required">Y field is required</ng-message>
            </ng-messages>
          </div>
        </div>
      </div>
      
      <!-- Save / Cancel -->
      <div id="editSidebarButtons" class="pull-right">
        <button id="saveBtn" class="btn btn-lg btn-primary" type="submit" ng-disabled="editForm.$invalid"><i class="fa fa-fw fa-save"></i> Save</button>
        <button id="cancelBtn" class="btn btn-lg btn-danger" type="button" ng-click="cancelEdit()"><i class="fa fa-fw fa-ban"></i> Cancel</button>
      </div>
    </form>
    
  </div>
</section>