<section>
  <div class="row">
    <!-- Component Palette -->
    <div class="col-sm-2">
      <h4>Library</h4>
      
      <table class="table table-condensed table-hover">
        <tr>
          <th>Model</th>
          <th width="15%" style="text-align:center;">Info</th>
          <th width="15%" style="text-align:center;">Add</th>
        </tr>
        <tr ng-repeat="model in getModelOptions(state.library)" tooltip-placement="right" uib-tooltip="{{ model.description }}">
          <td>{{ model.description }} ({{ model.label || model.name }})</td>
          <td style="text-align:center;">
            <button class="btn btn-xs btn-info" style="margin:0;" ng-click="showResults({ results: model, title: 'View Raw Model', isJson: true })">
              <i class="fa fa-fw fa-code"></i> 
            </button>
          </td>
          <td style="text-align:center;">
            <button class="btn btn-xs btn-primary" style="margin:0;" ng-click="addNodeInstance(model)">
              <i class="fa fa-fw fa-plus"></i> 
            </button>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Graph Canvas -->
    <div ng-class="{ 'col-sm-10': !selectedItem, 'col-sm-8': selectedItem }">
      <div class="row">
        <div class="pull-left">
          <button class="btn btn-xs btn-success" ng-click="saveGraph()" tooltip-placement="right" uib-tooltip="Save current graph into your browser's local storage">
            <i class="fa fa-fw fa-save" ng-class="{ 'faa-horizontal animated': graphIsChanged() }"></i> Save
          </button>
          
          <button class="btn btn-xs btn-danger" ng-click="clearGraph()" tooltip-placement="right" uib-tooltip="Clear current graph from the canvas">
            <i class="fa fa-fw fa-trash"></i> Clear
          </button>
          
          <button class="btn btn-xs btn-default" style="color:orange" ng-click="addInport()" tooltip-placement="right" uib-tooltip="Add an InPort to current graph">
            <i class="fa fa-fw fa-sign-in"></i> Add InPort
          </button>
          
          <button class="btn btn-xs btn-default" style="color:green" ng-click="addOutport()" tooltip-placement="right" uib-tooltip="Add an OutPort to current graph">
            <i class="fa fa-fw fa-sign-out"></i> Add OutPort
          </button>
        </div>
        
        <div class="pull-right">
          <button class="btn btn-xs btn-default" ng-click="exportGraph()" tooltip-placement="left" uib-tooltip="View Raw JSON of the current graph">
            <i class="fa fa-fw fa-code"></i> View Raw JSON
          </button>
          
          <button type="submit" class="btn btn-xs btn-info" ng-disabled="formatting" ng-click="formatYaml()" tooltip-placement="left" uib-tooltip="Output a YAML file for submitting a graph to cis_interface">
            <i class="fa fa-fw" ng-class="{ 'fa-file-text-o': !formatting, 'fa-spinner fa-pulse': formatting }"></i> Produce YAML
          </button>
          
          <button type="button" class="btn btn-xs btn-primary" ng-disabled="running" ng-click="runGraph()" tooltip-placement="left" uib-tooltip="Submit this graph as a YAML to cis_interface and display the output">
            <i class="fa fa-fw" ng-class="{ 'fa-play': !running, 'fa-spinner fa-pulse': running }"></i> Run Graph
          </button>
        </div>
      </div>
      
      <div class="row border-cis" id="canvas-area">
        <the-graph-editor class="the-graph-light" graph="state.graph" library="state.library" loading="state.loading" width="state.width" height="state.height"></the-graph-editor>
         
        <div ng-if="loading" id="loading" style="">
          <i class="fa fa-fw fa-spinner fa-pulse"></i>
          <div id="loading-message">loading custom elements...</div>
        </div>
      </div>
    </div>
    
    <div id="editSidebar" class="col-sm-2" ng-if="selectedItem">
      <h4>{{ selectedItem.metadata.label || selectedItem.id }} Properties</h4>
      <form name="editForm" ng-submit="saveEdit()">
        
        <!-- ID Field -->
        <div class="form-group" >
            <label for="idField">ID <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The unique random id of this node"></i></sup></label>
            <input type="text" class="form-control" id="idField" name="idField" ng-model="selectedItem.id" ng-disabled="'true'" required />
        </div>
        
        
        <!-- Component Field -->
        <div class="form-group" >
          <label for="componentField">Component <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The unique random id of this node"></i></sup></label>
          
          <!-- FIXME: this should probably use <select> instead of <input> -->
          <input type="text" class="form-control" id="componentField" name="componentField" ng-model="selectedItem.component" ng-disabled="'true'" required />
          <ng-messages class="text-danger" for="editForm.componentField.$error" role="alert">
            <ng-message when="required">Component field is required</ng-message>
         </ng-messages>
        </div>
        
        <!-- Label Field -->
        <div class="form-group">
          <label for="labelField">Label <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="A friendly label for this item"></i></sup></label>
          <input type="text" class="form-control" id="labelField" name="labelField" ng-model="selectedItem.metadata.label" />
        </div>
        
        <!-- Type Field -->
        <div ng-if="selectedItem.component === 'inport' || selectedItem.component === 'outport'">
          <div class="form-group">
            <label for="typeField">Type <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The source/destination type for this value"></i></sup></label>
            <select type="text" class="form-control" id="typeField" name="typeField" ng-model="selectedItem.metadata.type" required>
                <option>File</option>
                <option>Queue</option>
            </select>
            
            <ng-messages class="text-danger" for="editForm.typeField.$error" role="alert">
              <ng-message when="required">Edge type is required</ng-message>
            </ng-messages>
          </div>
          
          <!-- Value Field -->
          <div class="form-group" ng-if="selectedItem.component === 'inport' || selectedItem.component === 'outport'">
            <label for="nameField">Value <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The source/destination name of this input/output"></i></sup></label>
            <input type="text" class="form-control" id="nameField" name="nameField" ng-model="selectedItem.metadata.name" required />
            
            <ng-messages class="text-danger" for="editForm.nameField.$error" role="alert">
              <ng-message when="required">Source/destination name is required</ng-message>
            </ng-messages>
          </div>
        </div>
        
        <!-- Metadata Field: X -->
        <div class="form-group">
          <label for="xField">X Position <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The horizontal position of this node on the canvas"></i></sup></label>
          <input type="number" class="form-control" id="xField" name="xField" ng-model="selectedItem.metadata.x" required />
          <ng-messages class="text-danger" for="editForm.xField.$error" role="alert">
            <ng-message when="required">X field is required</ng-message>
          </ng-messages>
        </div>
        
        <!-- Metadata Field: Y -->
        <div class="form-group" >
          <label for="yField">Y Position <sup><i class="fa fa-fw fa-question-circle" tooltip-placement="left" uib-tooltip="The vertical position of this node on the canvas"></i></sup></label>
          <input type="number" class="form-control" id="yField" name="yField" ng-model="selectedItem.metadata.y" required />
          <ng-messages class="text-danger" for="editForm.yField.$error" role="alert">
            <ng-message when="required">Y field is required</ng-message>
          </ng-messages>
        </div>
        
        <!-- Save / Cancel -->
        <div class="pull-right">
          <button id="saveBtn" class="btn btn-lg btn-primary" type="submit" ng-disabled="editForm.$invalid"><i class="fa fa-fw fa-save"></i> Save</button>
          <button id="cancelBtn" class="btn btn-lg btn-danger" type="button" ng-click="cancelEdit()"><i class="fa fa-fw fa-ban"></i> Cancel</button>
        </div>
      </form>
      
    </div>
  </div>
</section>
